<mat-card class="post-card">


  <div class="post-header">
    <h3 class="post-title">{{ post.title }}</h3>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editPost()">Editar</button>
      <button mat-menu-item (click)="deletePost()">Excluir</button>
    </mat-menu>
  </div>

  <p>{{ post.body }}</p>

  
  <app-comment-form
  [postId]="post.id"
  (created)="reloadComments()">
</app-comment-form>

<app-comment-list
  [postId]="post.id"
  #commentList>
</app-comment-list>

</mat-card>
